body{
    margin: 0;
    padding: 150px;
    background-color: rgb(203, 203, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}
.left-header{
    flex: 1;
}
.right-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    column-gap: 7px;
}
.hbox{
    background-color: rgb(255, 255, 255);
    width: 30px;
    cursor: pointer;
}
.view{
    width: 100%;
    height: 100%;
}
.logo-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.logo-middle{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90px;
    font-weight: 600;
    color: rgb(113, 0, 113);
}
.search-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.search-bar-left{
    width: 25%;
}
.search-bar-right{
    width: 25%;
}
.search-bar-middle{
    flex: 1;
    min-width: 400px;
}
.search-bar{
    width: 100%;
    padding-left: 20px;
    font-size: 18px;
    height: 55px;
    border-radius: 25px;
    border: none;
}
.tabs-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tabs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.box{
    width: 75px;
    height: 75px;
    flex: 1;
}
img{
    width: 100%;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}