body{
    background-color:  rgb(74, 74, 74);
    height: 100vh;
    margin: 0;
}
.header{
    background-color: rgb(74, 74, 74);;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 60px;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
}
.header-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}
a:hover{
    text-decoration:underline;
}
.head-img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.head-img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),-1px -1px 25px rgba(0, 0, 0, 0.2);
}
.container{
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 60px 1fr;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: white;
    margin-top: 15px;
    font-size: 90px;
    letter-spacing: -4px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search-container{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
}
.search-middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    flex: 1;
    border: none;
    border-radius: 50px;
    padding: 15px;
    font-size: 16px;
}
.search-bar:hover{
    box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.3), -2px -2px 20px rgba(255, 255, 255, 0.3);
}
.tabs-container{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,100px);
    justify-content: center;
    gap: 15px;
}
.tab{
    color: white;
    border-radius: 15px;
    transition: background-color 0.5s;
    text-align: center;
    padding: 20px ;
}
.tab:hover{
    background-color: rgb(101, 101, 101);
}
img{
    width: 60px;
    border-radius: 10px;
}